@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @HttpContextAccessor.HttpContext.Session.GetString("UserName")
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.N testET Core</a>.</p>
</div>
